.bx-mail-send {
  color: #e95e4c;
  font-size: 25px;
}
.bx-phone-call {
  color: #e95e4c;
  font-size: 25px;
}
.col-1 {
  flex-basis: 48%;
  margin: 0 10px;
  padding: 5px;
  line-height: 40px;
  text-align: left;
}
.callus {
  top: 1px;
}
.number {
  font-size: 35px;
}
.email {
  font-size: 30px;
  color: blue;
}

.title-2 {
  margin: 10px auto 10px;
  margin-left: 30px;
  text-align: left;
}
.title::after {
  background: none;
}
/*========Contact Form-=====*/
.contactForm {
  margin-top: 0px;
  width: 300px;
  height: 350px;
  line-height: 5px;
  border: 1px solid rgb(104, 101, 97);
  box-shadow: 5px 5px 3px gray;
  justify-content: space-between;
  border-radius: 10px;
}
.contactForm input,
textarea {
  width: 90%;
  display: block;
  margin-left: 10px;
  margin-top: 10px;
  padding: 5px;
  background-color: rgb(248, 230, 220);
  border: none;
  border-radius: 10px;
}
.contactForm input,
textarea:hover {
  outline: none;
}
.contactForm label input {
  margin: 10px 0px 10px 10px;
  display: inline;
  width: 20px;
  font-size: 10px;
}

label {
  cursor: pointer;
  width: 100%;
}
.contactForm .submit {
  background-color: rgb(233, 87, 19);
  margin: auto;
  width: 100px;
  text-align: center;
  border-radius: 14px;
  outline: none;
  cursor: pointer;
}
/*--------Media query foe menu-----*/
@media only screen and (max-width: 800px) {
  nav {
    width: 100%;
  }
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li {
    display: block;
    margin: 10px 50px 10px 0;
  }
  nav ul li a {
    color: white;
    cursor: pointer;
  }
  .Menu-icon {
    display: block;
    cursor: pointer;
  }
}
/*Media query for less than 600px----*/
@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }
}
